body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background: linear-gradient(to right, #00ff48, #0b5c1d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #16c132;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #17da21;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #78c823;
    border-radius: 5px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    font-size: 14px;
    color: #00ff51;
    text-decoration: none;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #0e8027, #30fc25);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background: linear-gradient(to right, #139445, #12c521);
}

.social-login {
    margin-top: 30px;
}

.social-login p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
}

.signup-link {
    margin-top: 20px;
}

.signup-link p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.signup-link a {
    font-size: 16px;
    color: #00ff62;
    text-decoration: none;
}
